<footer>
	<div class="row">
		<div class="col-xs-18 col-sm-18">

			<div class="homebuilder clearfix accordion-footer">
				<div class="tm-container container ">
					<div class="tm-inner">

						<div class="row row-level-1 ">
							<div class="row-inner  clearfix">
								<div class="col-lg-3 col-md-3 col-sm-4 col-xs-18 ">
									<div class="col-inner ">

										<h3 class="box-heading">
											Information


										</h3>
										<ul class="box-content list-unstyled">
											<li>
												<a href="index.php%3Froute=information%252Finformation&amp;information_id=4.html">
													About
																																																																																																																					                                                        													                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Us


												</a>
											</li>
											<li>
												<a href="index.php%3Froute=information%252Finformation&amp;information_id=6.html">
													Delivery
																																																																																																																					                                                        													                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Information


												</a>
											</li>
											<li>
												<a href="index.php%3Froute=information%252Finformation&amp;information_id=3.html">
													Privacy
																																																																																																																					                                                        													                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            Policy


												</a>
											</li>
											<li>
												<a href="index.php%3Froute=information%252Finformation&amp;information_id=5.html">
													Terms
																																																																																																																					                                                        													                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            &amp; Conditions


												</a>
											</li>
											<li>
												<a href="index.php%3Froute=information%252Fcontact.html">
													Contact


												</a>
											</li>
											<li>
												<a href="index.php%3Froute=simple_blog%252Farticle.html">
													Blog


												</a>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-3 col-md-3 col-sm-3 col-xs-18 ">
									<div class="col-inner ">
										<div class="box module-social">
											<div class="social-block">
												<h3 class="box-heading">
													Connect With Us


												</h3>
												<div class="box-content">
													<p></p>

													<ul class="social-list list-unstyled">

														<li>
															<a href="https://www.facebook.com/zemezlab/">
																<i class="fa fa-facebook"></i>
																Facebook


															</a>
														</li>

														<li>
															<a href="https://twitter.com/zemezlab">
																<i class="fa fa-twitter"></i>
																Twitter


															</a>
														</li>

														<li>
															<a href="https://www.instagram.com/template_monster">
																<i class="fa fa-instagram"></i>
																Instagram


															</a>
														</li>

													</ul>

												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-6 col-md-5 col-sm-5 col-xs-18 ">
									<div class="col-inner ">
										{% if logo %}
											<h1 class="logo">
												<a href="{{ home }}">
													<img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive">
												</a>
											</h1>
										{% else %}
											<h1 class="logo">
												<a href="{{ home }}">
													{{ name }}
												</a>
											</h1>
										{% endif %}
									</div>
								</div>
								<div class="col-lg-6 col-md-7 col-sm-6 col-xs-18 ">
									<div class="col-inner ">
										<div id="tm-newsletter" class="box newsletter">
											<div class="box-heading">
												<h3>
													Newsletter


												</h3>
											</div>
											<div class="box-content">
												<form class="clearfix" method="post" enctype="multipart/form-data" id="tm-newsletter-form">
													<div class="box-content clearfix">
														<div class="newsletter-description">
															<p>
																Sign up to receive emails on new product
																																																																																																																																																                                                                        																                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                arrivals, special offers and exclusive events


															</p>
														</div>
														<div class="tm-login-form">
															<input type="text" name="zemez_newsletter_email" value="" placeholder="Your e-mail" id="input-tm-newsletter-email" class="form-control"/>
															<label class="control-label" for="input-tm-newsletter-email"></label>
														</div>
														<span id="tm-newsletter_error" class="newsletter-error"></span>
														<span id="tm-newsletter_success" class="newsletter-success"></span>
														<button type="submit" id="tm-newsletter-button" class="btn-primary pull-right">
															Subscribe


														</button>
													</div>
												</form>
											</div>
										</div>

										<script>
											$(document).ready(function () {
$('#tm-newsletter').submit(function (e) {
e.preventDefault();
$.ajax({
url: 'index.php?route=extension/module/zemez_newsletter/addNewsletter',
type: 'POST',
dataType: 'json',
data: $('#tm-newsletter').find('input[type=\'text\']'),
success: function (json) {
if (json['success']) {
$('#tm-newsletter_error').html('');
$('#tm-newsletter_success').stop(true, true).html(json['success']).fadeIn(300).delay(4000).fadeOut(300);
} else {
$('#tm-newsletter_success').html('');
$('#tm-newsletter_error').stop(true, true).html(json['error']).fadeIn(300).delay(4000).fadeOut(300);
}
},
error: function (xhr, ajaxOptions, thrownError) {
console.log(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
}
});
});
});
										</script>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div class="copyright">
		<div class="container">
			Powered By


			<a href="http://www.opencart.com">
				OpenCart


			</a>
			<br/>
			Powder &copy;
																											                    			                                                                                                                                                            2021. Design by


			<a class="zemez" href="https://zemez.io">
				Zemez


			</a>
		</div>
	</div>
	<script src="catalog/view/javascript/powred/swiper/swinit.js" type="text/javascript"></script>
	<script src="catalog/view/theme/powred/js/jquery.elevatezoom.js" type="text/javascript"></script>
	<script src="catalog/view/theme/powred/js/device.min.js" type="text/javascript"></script>
	<script src="catalog/view/theme/powred/js/livesearch.min.js" type="text/javascript"></script>
	<script src="catalog/view/theme/powred/js/common.js" type="text/javascript"></script>
	<script src="catalog/view/theme/powred/js/script.js" type="text/javascript"></script>
	<script src="catalog/view/theme/powred/js/photo-swipe/klass.min.js" type="text/javascript"></script>
	<script src="catalog/view/theme/powred/js/photo-swipe/code.photoswipe-3.0.5.min.js" type="text/javascript"></script>
	<script src="catalog/view/theme/powred/js/jquery.selectbox-0.2.min.js" type="text/javascript"></script>
</footer>
<div class="ajax-overlay"></div>
<div class="ajax-quickview-overlay">
	<span class="ajax-quickview-overlay__preloader"></span>
</div></div></body></html>
